services:
  backend:
    build: ./backend
    volumes:
      - ./backend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - JWT_SECRET=${JWT_SECRET}
      - TELEGRAM_TOKEN=${TELEGRAM_TOKEN}
    depends_on:
      - database
    command: sh -c "echo 'Waiting 7s for DB...' && sleep 7 && npm run dev"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        API_BASE_URL: ${API_BASE_URL}
        TELEGRAM_BOT_URL: ${TELEGRAM_BOT_URL}
    ports:
      - "80:80"
    environment:
      - API_BASE_URL=${API_BASE_URL}
      - TELEGRAM_BOT_URL=${TELEGRAM_BOT_URL}
    depends_on:
      - backend

  database:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
