services:
  backend:
    build: ./backend
    volumes:
      - ./backend:/app
    ports:
      - "3000:3000"
    environment:
      - BACKEND_DB_URL=${BACKEND_DB_URL}
      - JWT_SECRET=${JWT_SECRET}
      - TELEGRAM_TOKEN=${TELEGRAM_TOKEN}
      - OLLAMA_HOST=http://ollama:11434
      - OLLAMA_MODEL=${OLLAMA_MODEL}
    depends_on:
      - database
    command: sh -c "echo 'Waiting 7s for DB...' && sleep 7 && npm run dev"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        API_BASE_URL: ${API_BASE_URL}
        TELEGRAM_BOT_URL: ${TELEGRAM_BOT_URL}
    ports:
      - "80:80"
    environment:
      - API_BASE_URL=${API_BASE_URL}
      - TELEGRAM_BOT_URL=${TELEGRAM_BOT_URL}
    depends_on:
      - backend

  database:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${BACKEND_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    environment:
      OLLAMA_MODEL: ${OLLAMA_MODEL}
    volumes:
      - ./ollama/data:/root/.ollama
    ports:
      - "11434:11434"
    restart: always
    entrypoint: /bin/sh
    command: 
      - "-c"
      - "ollama serve & sleep 2 && ollama pull ${OLLAMA_MODEL} && wait"

volumes:
  postgres_data:
